@namespace blazormaterialise
@inject IJSRuntime JSRuntime;
@inherits js_base


<div class="carousel @Class @Backcolor @Textcolor @show">
    @ChildContent
</div>    


@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string show="";
    

    protected override async Task OnAfterRenderAsync(bool firstRender){
        await base.OnAfterRenderAsync(firstRender);
        await JSRuntime.InvokeVoidAsync("carousel_init");
       
    }

}