@namespace blazormaterialise
@inherits component_base


<a class="carousel-item" href="@href"><img src="@src"></a>

@code{
   
    [Parameter]
    public string src {get;set;} = "";

     [Parameter]
    public string href {get;set;} = "";
}