@namespace blazormaterialize
@inject IJSRuntime JSRuntime;


<div class="carousel">
    @ChildContent
</div>    


@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    

    protected override async Task OnAfterRenderAsync(bool firstRender){
        await base.OnAfterRenderAsync(firstRender);
        await JSRuntime.InvokeVoidAsync("carousel_init");
    }

}