@namespace blazormaterialise
@inherits js_base


<a class="carousel-item @Class @Backcolor @Textcolor @show" href="@href">
    @children
</a>

@code{  
   [Parameter]
   public RenderFragment children{get;set;}

    [Parameter]
    public string href {get;set;} = "";

    private string show="";

    protected override async Task OnAfterRenderAsync(bool firstRender){
       
        var sh = new show();
        show = sh.get_show(Visibility);
    }
    


}