@page "/Breadcrumbs"

    <h3>Breadcrumbs</h3>

<BM_breadcrumb Items="item">

</BM_breadcrumb>

@code {


    private structure_breadcrumbs[] item = new structure_breadcrumbs[]
    {
        new structure_breadcrumbs{ Class="" , href="" , name="One" },
        new structure_breadcrumbs{ Class="" , href="" , name="Two" },
        new structure_breadcrumbs{ Class="" , href="" , name="Three" }
    };
}
