@page "/Collections"

    <h3 class="@blazormaterialise.Helpers.text_align_horizontal_center">Collections</h3>
    <h5 class="@blazormaterialise.Helpers.text_align_horizontal_center">Basic</h5>

    <BM_collection>
        <BM_collection_item Type_item="enum_collection.Basic">
            One
        </BM_collection_item>
        <BM_collection_item Type_item="enum_collection.Basic">
            Two
        </BM_collection_item>
        <BM_collection_item Type_item="enum_collection.Basic">
            Three
        </BM_collection_item>
    </BM_collection>

    <h5 class="@blazormaterialise.Helpers.text_align_horizontal_center">Links</h5>

    <BM_collection>
        <BM_collection_item Type_item="enum_collection.Links">
            One
        </BM_collection_item>
        <BM_collection_item Type_item="enum_collection.Links">
            Two
        </BM_collection_item>
        <BM_collection_item Type_item="enum_collection.Links">
            Three
        </BM_collection_item>
    </BM_collection>


@code{

}

