@page "/Footer"

<h5 class="@blazormaterialise.Helpers.text_align_horizontal_center">Footer</h5>

<p>Example</p>
<BM_footer Backcolor="enum_color.blue" Textcolor="enum_color.white">
    <BM_container >
        <BM_row>
            <BM_col S="4">
                <p class="@blazormaterialise.Helpers.text_align_horizontal_center">Col 1</p>
            </BM_col>
            <BM_col S="4">
                <p class="@blazormaterialise.Helpers.text_align_horizontal_center">Col 2</p>
            </BM_col>
            <BM_col S="4">
                <p class="@blazormaterialise.Helpers.text_align_horizontal_center">Col 3</p>
            </BM_col>
        </BM_row>
    </BM_container>
    
    <BM_footer_copyright>
        <p>Power by Russo Davide</p>
    </BM_footer_copyright>
</BM_footer>
