@page "/"
@inject IJSRuntime JSRuntime;

<BM_text_input @bind-Value="@valore" Icon="add" Helper_text="Mio"></BM_text_input> 
<p>@valore</p>
<BM_button Onclick="@(e => test(10))">Test</BM_button>
<p>@num</p>

@code{

   int num = 0; 
   private string valore = "";

  private void test(int mio){
      num = mio;
  }

     
}