@page "/"
@inject IJSRuntime JSRuntime;
<BM_file Text="Ciao"></BM_file>
<BM_textarea ></BM_textarea>
<BM_select Items="sel" Label="Mondo Cane" Value="ciao2" Onchange="mii"></BM_select> 
<p>@date</p>

@code{

    private blazormaterialise.structure_select[] sel = new blazormaterialise.structure_select[]{
        new structure_select {Value="ciao", Text="Ciao"},
        new structure_select {Value="ciao1", Text="Ciao1"},
        new structure_select {Value="ciao2", Text="Ciao2"}
    };

    string date = "";
    private void mii(string cc){
        date = cc;
    }

    private void che(bool ok){
        Console.WriteLine(ok);
    }

    private void click(){
        var t = new blazormaterialise.BM_toast(JSRuntime,"<span>I am toast content</span><button class=\"btn-flat toast-action\">Undo</button>" ,"fi", false);
        t.show();    
    }

    private void cc(int x){
        Console.WriteLine(x);
        
    }
    
    public string[] he = new string[]{"ciao","mio","dio"};
    public IEnumerable<Car> cars;

        private string mio = "mio" + Guid.NewGuid();
        private string mio1 = "mio1" + Guid.NewGuid();

   protected override async Task OnInitializedAsync()
    {
         cars = new[]
            {
                new Car("Volkswagen Golf", 10000, 220),
                new Car("Volkswagen Passat", 11000, 240),
                new Car("Volkswagen Polo", 12000, 110),
                new Car("Ford Focus", 13000, 200),
                new Car("Ford Fiesta", 14000, 160),
                new Car("Ford Fusion", 15000, 260),
                new Car("Ford Mondeo", 16000, 120),
            };
    }
    protected override void OnAfterRender(bool firstRender){
        
    }

    public class Car
            {
                public string Name { get; set; }
                public double Price { get; set; }
                public int Horsepower { get; set; }
 
                public Car(string name, double price, int horsepower)
                {
                    Name = name;
                    Price = price;
                    Horsepower = horsepower;
                }
            }

     
}