@page "/Media"


<h3>Media</h3>

<h5>Responsive Images</h5>

<code>@("blazormaterialise.Media.image")</code>

<h5>Circular Images</h5>

<code>@("blazormaterialise.Media.image_circle")</code>

<h5>Videos</h5>

<code>@("blazormaterialise.Media.video_container")</code>
<code>@("blazormaterialise.Media.video")</code>



@code {

}
