@page "/Modal"

<h3>Modal</h3>

<BM_button Data_target="model1" Class="@blazormaterialise.Opz.Modal_trigger" >Click</BM_button>

<BM_modal Id="model1">
    <Content>
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </Content>
    <Footer>
        <BM_button>I Gree</BM_button>
    </Footer>
</BM_modal>