@namespace blazormaterialise
@inherits js_base


<li class="divider @Class" tabindex="-1"></li>


@code{

    


     private string show="";
     protected override async Task OnAfterRenderAsync(bool firstRender){
        await base.OnAfterRenderAsync(firstRender);
        
      
    }
}