
<BM_collapsible Visibility="enum_show.hide_mobile">
    <BM_collapsible_item >
        <Header>
            Base
        </Header>
        <Body>
            <BM_collection Header="">
                <BM_collection_item Type_item="enum_collection.Links" Href="Grid">
                    Grid
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Helpers">
                    Helpers
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Media">
                    Media
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Styles">
                    Styles
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Forms">
                    Forms
                </BM_collection_item>
            </BM_collection>
        </Body>        
    </BM_collapsible_item>
    <BM_collapsible_item >
         <Header>
            Components
        </Header>
        <Body>
        <BM_collection Header="">
            <BM_collection_item Type_item="enum_collection.Links" Href="Button">
                Button
            </BM_collection_item>
            <BM_collection_item Type_item="enum_collection.Links" Href="Badge">
                Badge
            </BM_collection_item>
            <BM_collection_item Type_item="enum_collection.Links" Href="Breadcrumbs">
                Breadcrumbs
            </BM_collection_item>
            <BM_collection_item Type_item="enum_collection.Links" Href="Card">
                Card
            </BM_collection_item>
            <BM_collection_item Type_item="enum_collection.Links" Href="Collections">
                Collections
            </BM_collection_item>
            <BM_collection_item Type_item="enum_collection.Links" Href="FloatingActionButton">
                Floating Action Button
            </BM_collection_item>
            <BM_collection_item Type_item="enum_collection.Links" Href="Footer">
                Footer
            </BM_collection_item>
            <BM_collection_item Type_item="enum_collection.Links" Href="Preloader">
                Preloader
            </BM_collection_item>

        </BM_collection>
        </Body>
    </BM_collapsible_item>
    <BM_collapsible_item >
        <Header>
            Javascript
        </Header>
        <Body>
            <BM_collection Header="">
                <BM_collection_item Type_item="enum_collection.Links" Href="Carousel">
                    Carousel
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Dropdown">
                    Dropdown
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Collapsible">
                    Collapsible
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Featurediscovery">
                    FeatureDiscovery
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Js_media">
                    Media
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Slider">
                    Slider
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Modal">
                    Modal
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Tooltip">
                    Tooltip
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Toast">
                    Toast
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Tabs">
                    Tabs
                </BM_collection_item>
                <BM_collection_item Type_item="enum_collection.Links" Href="Parallax">
                   Parallax
                </BM_collection_item>

            </BM_collection>
        </Body>
    </BM_collapsible_item>
</BM_collapsible>

@code{

    public bool ok = false;

    public enum_color bac= enum_color.amber_accent_1;

   

    private void cl()
    {        
        if (ok)
        {
            ok = false;
            bac= enum_color.amber_accent_1;
        }
        else
        {
            ok = true;
            bac = enum_color.blue_accent_2;
        }
        
    }
}

