
@namespace blazormaterialise
@inherits grid_base


<div class="container @Class @dim">
    @ChildContent
</div>


@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

     private string dim = "";

     protected override void OnInitialized(){
         dim += color.get_backcolor(color.get_color(Backcolor)) + " "; 
        dim += color.get_Textcolor(color.get_color(Textcolor)) + " ";


    }


}