
@namespace blazormaterialise
@inherits grid_base


<div class="row @Class @dim">
    @ChildContent
</div>


@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private string dim = "";

    protected override void OnParametersSet()
    {
        dim += color.get_backcolor(color.get_color(Backcolor)) + " ";
        dim += color.get_Textcolor(color.get_color(Textcolor)) + " ";
    }
}