
@namespace blazormaterialise
@inherits grid_base


<div class="row @Class @dim">
    @ChildContent
</div>


@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }

     private string dim = "";

     protected override void OnInitialized(){
         dim += color.get_backcolor(Backcolor) + " "; 
        dim += color.get_Textcolor(Textcolor) + " ";


    }
}