@namespace blazormaterialise
@inherits js_base


<a class="carousel-item @dim @Class" href="@Href" id="@Id" >
    @ChildContent
</a>

@code{  
  [Parameter]
    public RenderFragment ChildContent{get;set;}

    [Parameter]
    public string Href {get;set;} = "";


    private string dim ="";

     protected override void OnInitialized(){
        dim = "";
        dim += blazormaterialise.show.get_show(Visibility) + " ";
        dim += color.get_backcolor(color.get_color(Backcolor)) + " ";
        dim += color.get_Textcolor(color.get_color(Textcolor)) + " ";
     }
    


}