@namespace blazormaterialise
@inherits js_base



<li class="@dim @_active @Class" id="@Id" ref="@Ref">
    <div class="collapsible-header">
         @Header
    </div>
   <div class="collapsible-body">
       @Body    
   </div>
    
</li>

@code{
    [Parameter]
    public RenderFragment Header{get;set;}
    [Parameter]
    public RenderFragment Body{get;set;}   
   
    [Parameter]
    public Boolean Active{get;set;}= false;

    private string dim="";
    private string _active = "";

    private string get_active(bool ok)
    {
        if (ok)
        {
            
            return "active";
        }
        else
        {
            
            return "a";
        }
    }

    protected override void OnParametersSet(){
        _active = "";
        if(Active){
            _active ="active";
        }else{
            this.InvokeStateHasChanged();
        }       
        dim = "";
        if(Visibility != enum_show.show){
            dim += blazormaterialise.show.get_show(Visibility) + " ";
        }
        if(Backcolor != enum_color.not){
            dim += color.get_backcolor(color.get_color(Backcolor)) + " ";
        }
        if(Textcolor != enum_color.not){
            dim += color.get_Textcolor(color.get_color(Textcolor)) + " ";
        }       
        //StateHasChanged();
    }

    protected override void OnInitialized(){

        
    }




}