@namespace blazormaterialise
@inject IJSRuntime JSRuntime;
@inherits js_base

 

  <div class="modal-footer @Class @show">
       @ChildContent
    </div>

@code{
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    private string show = "";

    protected override async Task OnAfterRenderAsync (bool firstRender) {
        await base.OnAfterRenderAsync (firstRender);
        await JSRuntime.InvokeVoidAsync ("dropdown_init");
        var sh = new show ();
        show = sh.get_show (Visibility);
    }

}