@namespace blazormaterialise
@inject IJSRuntime JSRuntime;
@inherits css_base

   <ul class="collection @valor @Class @Theme.Background @show">
       @if(ok_header){
           <li class="collection-header">
               @((MarkupString)text_final)
           </li>               
       }
       @children
   </ul>    


@code{
    [Parameter]
    public RenderFragment children{get;set;}
    [Parameter]
    public string Header{get;set;} = "";
    [Parameter]
    public int Font_Header{get;set;} = 4; //1-6
    
    private string valor = ""; 
    private bool ok_header = false;
    private string text_final = "";

    private string show="";

    protected override void OnInitialized(){
        var sh = new show();
        show = sh.get_show(Visibility);
        if(!string.IsNullOrEmpty(Header)){
            valor += "with-header ";
            ok_header = true;
            switch (Font_Header)
            {
                case 1:
                text_final = "<h1>" + Header + "</h1>";
                break;
                 case 2:
                text_final = "<h2>" + Header + "</h2>";
                break;
                 case 3:
                text_final = "<h3>" + Header + "</h3>";
                break;
                 case 4:
                text_final = "<h4>" + Header + "</h4>";
                break;
                 case 5:
                text_final = "<h5>" + Header + "</h5>";
                break;
                 case 6:
                text_final = "<h6>" + Header + "</h6>";
                break;
                default:
                break;
            }
            
        }
       
    }
}