@namespace blazormaterialise
@inject IJSRuntime JSRuntime;
@inherits css_base



  <nav class="@Class @Backcolor @Textcolor @show">
    <div class="nav-wrapper">
      <div class="col s12">
          if(@Items != null){
              @foreach (var item in Items)
              {
                  <a href="@item.href" class="breadcrumb @item.Class">@item.name</a>
              }
          }      
      </div>
    </div>
  </nav>

@code{

    [Parameter]
    public structure_breadcrumbs[] Items {get;set;} 

    private string show="";

    protected override void OnInitialized(){
      
        
    }
}