@namespace blazormaterialise
@inject IJSRuntime JSRuntime;
@inherits css_base


<span class="@valor badge @dim @Class" id="@Id" >
@Text
</span>

@code{

    [Parameter]
    public bool New{get;set;} = false;
    [Parameter]
    public string Text{get;set;} = "";

    private string valor = "";

    private string dim="";

    protected override void OnInitialized(){       
        if(New){
            valor += "new ";
        }
        dim = "";
         dim += blazormaterialise.show.get_show(Visibility) + " ";
       dim += color.get_backcolor(color.get_color(Backcolor)) + " ";
        dim += color.get_Textcolor(color.get_color(Textcolor)) + " ";
    }
}


