@namespace blazormaterialise
@inject IJSRuntime JSRuntime;
@inherits js_base

    <div id="@Id" class="modal @dim @Class ">
    <div class="modal-content ">
       @Content
    </div>
    <div class="modal-footer">
       @Footer
    </div>    
  </div>

 

@code{
    [Parameter]
    public RenderFragment Content { get; set; }
    [Parameter]
    public RenderFragment Footer { get; set; }


    private string dim = "";

    protected override void OnInitialized()
    {

        dim = "";
        dim += blazormaterialise.show.get_show(Visibility) + " ";
        dim += color.get_backcolor(color.get_color(Backcolor)) + " ";
        dim += color.get_Textcolor(color.get_color(Textcolor)) + " ";

    }

    protected override async Task OnAfterRenderAsync (bool firstRender) {
        await base.OnAfterRenderAsync (firstRender);
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("modal_init");
        }
    }

    public async void open()
    {
        await JSRuntime.InvokeVoidAsync("modal_open",Id);
    }

    public async void close()
    {
        await JSRuntime.InvokeVoidAsync("modal_close",Id);
    }

}