  @namespace blazormaterialise
  @inherits css_base
  @inject IJSRuntime JSRuntime;

    @if(Fixed){
        <div class="navbar-fixed " >
            <nav class="@dim @Class " id="@Id" ref="@Ref">
                <div class="nav-wrapper">
                    @Wrapper
                </div>
                <div class="nav-content">
                    @Content
                </div>
            </nav>
        </div>
    }else{
        <nav class="@dim @Class " id="@Id" ref="@Ref">
             <div class="nav-wrapper">
                    @Wrapper
                </div>
                <div class="nav-content">
                    @Content
                </div>
        </nav>
    }


 


@code{
    [Parameter]
    public RenderFragment Wrapper{get;set;}
     [Parameter]
    public RenderFragment Content{get;set;}
    
    [Parameter]
    public bool Fixed { get; set; } = false;

    private string dim = "";

    protected override void OnInitialized(){
        dim = "";
        dim += blazormaterialise.show.get_show(Visibility) + " ";
        dim += color.get_backcolor(color.get_color(Backcolor)) + " ";
        dim += color.get_Textcolor(color.get_color(Textcolor)) + " ";
       
    }

    protected override async Task OnAfterRenderAsync (bool firstRender) {
        await base.OnAfterRenderAsync (firstRender);
        await JSRuntime.InvokeVoidAsync ("navbar_init");
        
    }

}